@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #73b9c9, #307b8b);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(73, 70, 70);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #307b8b;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(42, 39, 39);
}

h2 {
    color: #536363;
}

p {
    text-align: justify;
}